@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}


* {
  scrollbar-width: auto;
  scrollbar-color: #3957ED #1b1b1b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  @apply w-2;
}

*::-webkit-scrollbar-track {
  @apply bg-neutral-900;
}

*::-webkit-scrollbar-thumb {
  border-radius: 16px;
  @apply bg-primary border-2 border-primary;
}

@media (orientation: portrait) {
  * {
    scrollbar-width: auto;
    scrollbar-color: #3957ED #1b1b1b;
  }

  *::-webkit-scrollbar {
    display: none; /* Adicionado para esconder a barra de rolagem no Webkit (Chrome, Edge, Safari) */
    width: 2px;
  }

  *::-webkit-scrollbar-track {
    @apply bg-neutral-900;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 16px;
    @apply bg-primary border-2 border-primary;
  }
}


